<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @payment.item %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @payment.purchase_price %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
